.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  top: 0.4rem;
}

.toggle input {
  display: none; /* hide default checkbox */
}

.slider {
  position: relative;
  width: 50px;
  height: 26px;
  background-color: #ccc;
  border-radius: 26px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #242056;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

.label-text {
  font-weight: 500;
  font-size: 14px;
}
